*.log
*/_*
*/.*

## Seccion directorios
Images/*.*
BackUp/*
Labs/*.pyc
/Images/ts_arima/ts_ARIMA1000.png
/Images/ts_arima/ts_ARIMA1001.png
/Images/ts_arima/ts_ARIMA1010.png
/Images/ts_arima/ts_ARIMA200.png
/Images/ts_arima/ts_ARIMA201.png
/Images/ts_arima/ts_ARIMA202.png
/Images/ts_arima/ts_ARIMA210.png
/Images/ts_arima/ts_ARIMA211.png
/Images/ts_arima/ts_ARIMA212.png
/Images/ts_arima/ts_ARIMA400.png
/Images/ts_arima/ts_ARIMA401.png
/Images/ts_arima/ts_ARIMA600.png
/Images/ts_arima/ts_ARIMA601.png
